@use "color" as *;
@use "break-points" as *;
// define a mixin for media query
@mixin respond-to($breakpoints) {
  @if $breakpoints == small {
    @media (min-width: 50em) {
      @content;
    }
  }
}
.animation-section {
  margin: 0 auto;
  max-width: 50rem;
  margin-top: 8rem;
}
.container-line {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  display: none;
}
.container-line svg {
  display: inline-block;
  height: 100%;
}
.body-information {
  font-family: 'Times New Roman', Times, serif;
  font-size: 7px;
}
  .one {
    width: 100%;
    height: 100%;
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        text-align: center;
        left: 0;
        z-index: -1;
    }
    h2 {
        border: 2px solid black;
        width: fit-content;
        padding: 5px;
        background-color: rgb(232, 230, 230);
        border-radius: 10px;
        box-shadow: 5px 5px 5px (black);
        text-align: center;
    }
    hr {
      border: none;
              height: 5px;
              background-color: #000;
              margin-top: 174px;
    }
    @include respond-to(small) {
    h2 {
    font-size: 35px;
    margin: 20px;
   }
    }
  }
.text-information {
  width: 100%;
}
.two {
  overflow: hidden;
  h2 {
  color:rgb(227, 227, 227);
  top: 50%;
  left: 50%;
  white-space: nowrap;
  font-size: 3.8rem;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 0;
  animation: changeColor 3s linear infinite;
  }
  p {
   margin-top: 0;
  }
}
@keyframes changeColor {
  0% { color: $color1; }
  33% { color: $color2; }
  66% { color: $color3; }
  100% { color: $color1; }
}
.three {
  position: relative;
  overflow: hidden;
  h2 {
    padding-top: 0;
  font-size:5.5rem;
  margin: 50px, 0, 0, 0;
  text-align: center;
  }
  p {
    color:rgb(227, 227, 227);
  top: 0;
  left: 50%;
  white-space: nowrap;
  font-size: 30rem;
  font-family: 'Times New Roman', Times, serif;
  }
  h2 img {
    display: flex;
    justify-content: space-between;
  }
  img {
    width: 100%;
  }
  @include respond-to(small) {
    img {
    width: 70%;
   }
    }
}
.scroll {
  margin-top: 0;
}
.text-from-presentation {
  overflow: hidden;
  margin-top: 3rem;
  padding: 10px;
  .tutorial-video{
    align-content: center;
    box-shadow: 10px 10px 5px rgb(128, 128, 128);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  h2 {
    text-align: left;
  }
  p {
    border: solid 2px $darkest;
    // padding: 10px;
    border-radius: 10px;
    z-index: 4;
    box-shadow: 0 4px 8px #BEBAE8;
    padding: 1rem;
    margin: 1rem;
  }
  @include respond-to(small) {
    h2 {
    font-size: 2.5rem;
   }
   p {
    font-size: 30px;
   }
    }
}

@media (max-width:50em) {
  .animation-section h2 {
    padding: 1rem;
  }

  .animation-section {
    max-width: 37.5rem;
  }
}









