@use "color" as *;

.frontPage {
    width: 100vw;
    height: 100vh;
    // background-color: ;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 3rem;
    background-color: $dark;
    margin: 0 auto;
}

html {
    background-color: $mid;
}