@use 'color' as *;

.navLinks {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.navLinks a {
    text-decoration: none;
    color: black;
}

.navLinks h2 {
    padding: 1.5rem 1rem;
    margin: 2rem auto;
    border: solid $darkest;
    font-weight: normal;
}

.navLinks a:hover {
    color: purple;
}

.backTop {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.backTop a{
    text-decoration: none;
    list-style-type: none;
    color: black;
    padding: 1rem;
}

.backTop a:hover {
    color: purple;
    background-color: $darkest;
}

@media (max-width: 50em) {
    .navLinks {
        margin-top: 5rem;
    }
}
